###################
#.gitignore       #
###################

#################
# Project Files #
#################
*.zip
/node_modules
/.sass-cache
*~
.project
.settings
assets

###################
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

################
# Design Files #
################
*.psd
*.ai
*.indd
*.cdr
*.raw
*.psb
*.tiff
*.tif
*.eps

############
# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar

############
# SO files #
############
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
.dropbox

#############
# log files #
#############
log/**/*
*.log
*.sqlite

###################
# temporary files #
###################
tmp/**/*
*.tmp
*.sqlite
*.temp
